<!doctype html>
<html>
<head>
    <title>Presentation</title>
</head>
<body>
    <h4>Click the below button to start a presentation on external display attached with this device</h4>
    <p>
        <button id="start">Start Presentation</button>
    </p>
    <p>
        <input id="message" type="text" placeholder="Enter a message..." list="fruits">
        <datalist id="fruits">
            <option value="grapes">
            <option value="watermelon">
            <option value="melon">
            <option value="lemon">
            <option value="banana">
            <option value="pineapple">
            <option value="apple">
        </datalist>
        <button id="sendMessage">Send Message</button>
    </p>
    
    <script>
        const presentationRequest = new PresentationRequest(['/presentation']);
        navigator.presentation.defaultRequest = presentationRequest;

        let presentationConnection;

        document.querySelector('#start').addEventListener('click', function () {
            console.log('Starting presentation request...');
            presentationRequest.start()
                .then(connection => {
                    console.log('Connected to ' + connection.url);
                })
                .catch(error => {
                    console.log('error: ' + error.message);
                });
        });

        presentationRequest.addEventListener('connectionavailable', function (event) {
            presentationConnection = event.connection;
            presentationConnection.addEventListener('message', function (event) {
                console.log('> ' + event.data);
            });
        });

        document.querySelector('#sendMessage').addEventListener('click', function () {
            const message = document.querySelector('#message').value.trim();
            const lang = document.body.lang || 'en-US';

            console.log('Sending "' + message + '"...');
            presentationConnection.send(JSON.stringify({ message, lang }));
        });
    </script>
</body>
</html>