<html>

<head>
    <script>
        function performTest() {
            try {
                top.location = "https://www.google.com";
            } catch (e) {
                top.postMessage("BLOCKED", "*");
            }
        }
    </script>
</head>

<body onload="performTest();">
    <p>
        "Click the button below, the top navigation should succeed"
    </p>
    <button id="button" onclick="performTest();">Navigate the top page</button>
</body>

</html>