<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>xhr</title>
</head>

<body>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <h4>Use Saved Cards</h4>
                    </div>
                    <div>
                        <h6 id="ccn2">Card#:5555555555554444</h6>
                        <h6 id="ccn1">Card#:378282246310005</h6>
                        <h6 id="ccn1">Card#:6011111111111117</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/thirdPartyScript.js"></script>
</body>

</html>