<html>

<head>
   <title>Screen Orientation Lock</title>
   <script>
      function lock(lockButton) {
         const { type, angle } = screen.orientation;
         screen.orientation.lock(type)
         .then(() => {
            console.log("locked screen in : " + type)
         })
         .catch(err => {
            console.log("locking screen failed due to error: " + err);
         });
      }
   </script>
</head>

<body>
   <p>Click the below button to lock the screen in the current screen orientation</p>
   <button onclick="lock(this)" id="button">Lock</button>
</body>

</html>