<!-- 
    document that simply listens for messages from its parent by 
    hooking into the message event of the window object
 -->
<!DOCTYPE html>
<html>

<head>
    <title>top navigation</title>
</head>

<body>
    <div>
        <a href="https://www.google.com" target="_blank">Open google search in top-most frame</a>
    </div>
</body>

</html>